
.App {
  text-align: center;  
}

.App-read-page {
  text-align: center; 
  margin-left: -50px;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

.Main-header {

color: rgba(0, 0, 0, 0.5);
font-family: Arial, Helvetica, sans-serif;
font-size: 64px;
margin-bottom: 20px;
}


.journey-interest {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
  }
  
  .sub-header-timer {

    color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    }


.sub-header {

  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  margin-bottom: 40px;
  }

.UploadPDF-btn {

  margin-top: 5%;
  margin-bottom: 10px;
  
}

.upload-limit-notice{
  font-size: 14px;
  color: lightcoral;
 
}

.Main-header{
  font-weight: 500;
  text-align: center;
}

.top-key-words-container {
  background-color: white;
  border-radius: 26px;
  margin-top: 20px;
 
  width: 80%;
  left: 10%;
  align-items: center;
  
  filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.14));

  

}

#half-fade {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.btn-grad-container .MuiButton-root {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}

.btn-grad-container .MuiButton-root{
  text-align: center;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
    
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  
  color: white;            
  box-shadow: 0 0 20px #eee;  

  padding: 15px 45px;

  background-size: 200% auto;

  
  
}

.btn-grad-container .MuiButton-root:hover{
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}


.btn-grad-container-journey .MuiButton-root {
  background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%)
}

.btn-grad-container-journey .MuiButton-root{
  border-radius: 50px;
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
    
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  
  color: white;            
  box-shadow: 0 0 20px #eee;  

  padding: 5px 45px;

  background-size: 200% auto;

  
  
}

.btn-grad-container-journey .MuiButton-root:hover{
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.read-page-file-name{
  color: rgba(20, 20, 43, 0.36);
  font-size: 42px;
  font-weight: 300;
  padding-top: 60px;
  margin-bottom: 30px;
  margin-left: 120px;
  margin-right: 120px;
  word-wrap: break-word;

 
}

.keywords-occurence-value{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.read-page-header{
  color: rgba(0, 0, 0, 0.5);
  font-size: 62px;
  font-weight: 300;
}

.main-page-examples{
  display: flex;
    
  margin-top: 20px;
  justify-content: space-evenly;
  font-size: 38px;

}

.main-page-examples .MuiPaper-root{
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
 
}

.main-page-examples .MuiPaper-root:hover{
 
  filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.14));
}

.main-page-examples .MuiPaper-root > p{
  padding: 10px;
  justify-content: center;
  font-weight: 300;
}

.top-words-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 22px;
  color: rgba(20, 20, 43, 0.36);
  text-align: left;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.shuffle-icon-top-words{
  filter: invert(42%) sepia(74%) saturate(17%) hue-rotate(202deg) brightness(86%) contrast(86%);
  width: 26px;
}
.keywords-more-less-box{
  display: flex;
  justify-content: flex-start;   /* adjustment */
  position: relative;            /* new */
  width: 100%;
  height: 70px;
}

.keywords-show-less-button{
  flex: 0 1 auto;    
  margin-left: auto;   
  margin-right: 20px;
  margin-top: 10px;
}

.chip-center {
  flex: 0 1 auto;
 
  position: absolute;             /* new */
  left: 50%;
  transform: translateX(-50%);
}

.faq-list{
  text-align: justify;
  margin-left:10%;
  margin-right:10%;
  font-size: 20px;
}

.faq-list > li {
  font-weight: 600;
  text-decoration: solid;
}

.faq-list > p {
  margin-bottom: 40px;
  margin-left: 30px;
  margin-top: 5px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  font-weight: 400;
  font-size: 18px;
  color: rgba(20, 20, 43, 0.36);
  
}

.main-page-try-before{
  padding-top: 20px;
  font-size: 38px;
  color: rgba(20, 20, 43, 0.36);
  text-align: left;
  font-weight: 300;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}


.important-lines-header {
  justify-content: space-between;
  padding-top: 20px;
  font-size: 22px;
  color: rgba(20, 20, 43, 0.36);
  text-align: left;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.important-lines-header #book-percent{
  margin-right: 20px;
  align-self: center;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

.keyword {
  background: #E5E5E5;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
 
}

.prediction-content {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 18px;
}


.break-80{
   width: 95%;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f1f1f1;
  position: fixed;
  height: 35%;
  overflow: auto;
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.1);

    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
 
}

.sidebar a {
  display: block;
  color: rgba(20, 20, 43, 0.36);
  padding: 16px;
  text-decoration: none;
  font-weight: 300;
}



.active {
  color: rgba(20, 20, 43, 0.36);
  
}
 
.sidebar a.active {
  background-color: rgb(75, 77, 75);
  color: white;
 
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;

}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;

  }
  .sidebar a {text-align: center;}
  div.content {margin-left: 0;}
}

/* for the enter button on read page */
.top-key-words-container > .MuiIconButton-root{
  margin-top: 20px;
  background: rgba(239, 240, 246, 1);
}



/* Small screen sizes */

@media screen and (max-width: 400px) {

  .App-read-page{
    margin-left: 0px;
  }

  .sidebar a {
    text-align: center;
    float: none;
  }

  .sidebar {
    height: 200px;
  }

  .btn-grad-container .MuiButton-root {
    font-size: 18px;
  }

  .Main-header {
    font-size: 36px;
  }

  #main-page-demo > div {
    height: 100;
  }

  .read-page-file-name{
  
    font-size: 32px;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
   
  }

  .top-words-header{
    margin-left: 5px;
  }

  .important-lines-header{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .top-words-header > .MuiIconButton-root{
    padding: 5px;
  }
  
  .top-key-words-container > .MuiIconButton-root {
    padding: 5px;
    margin-top: 25px;
  }

  /* for the enter button on read page */
  .top-key-words-container > .MuiIconButton-root{
    margin-top: 25px;
    
  }

  .read-page-header {
    font-size: 42px;
  }
  
  
}