
.App {
  text-align: center; 
}

.Main-header {
margin-top: 1%;
color: rgba(0, 0, 0, 0.5);
font-family: Arial, Helvetica, sans-serif;
font-size: 64px;
margin-bottom: 40px;
}

.UploadPDF-btn {

  margin-top: 5%;
  margin-bottom: 10px;
  
}

.Main-header{
  font-weight: 500;
}

.top-key-words-container {
  background-color: white;
  border-radius: 26px;
  margin-top: 20px;
 
  width: 80%;
  left: 10%;
  align-items: center;
  
  filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.14));

}



.top-key-words-container > p {
  padding-top: 20px;
  font-size: 22px;
  color: rgba(20, 20, 43, 0.36);
  text-align: left;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.keyword {
  background: #E5E5E5;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
 
}

.prediction-content {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 18px;
}



