@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400;600&display=swap');


body {
  margin: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;

}

.lines{
   margin-top:10px;
   width:600px;
   text-align: justify;
}

.pure-g{
    margin-top:50px;
}